@media screen and (max-width: 428px){
    header nav li {
        margin-left: 16px;
    }
    header nav li a {
        font: 10px/27px 'noto_sansregular';
    }
    header nav li:last-of-type a {
        padding: 9px 19px;
    }
    .container {
        padding: 0px 20px;
    }
    .main {
        background: #163A24;
        padding: 120px 20px 40px;
    }
    .main h1 {
        font: 47px/65.25px 'recoletasemibold';
    }
    .main p {
        font: 15px/27px 'noto_sansregular';
    }
    .about{
        padding: 120px 20px 0px;
    }
    .about .wrapper {
        display: block;
    }
    
    }